.data-table{
    margin: 10px;
    padding: 15px;
    display: flex;
    gap: 20px;
}

.user-list, .user-detail {
  margin: 0;
  padding: 0;
  width: 50%;
}

.user-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-detail p {
    margin: 0 0 10px;
}

button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;

  &:nth-child(even) {
    background-color: #EDEDED;
  }

  &.selected {
    background-color: #FFE8A3;
  }
}

#clearSelectionButton {
    margin: 10px 0;
    width: auto;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}