* {
    --movies-catalog-bg: #028b80;
}

#movies-catalog-section {
    margin: 0;
    padding: 20px;
    background-color: var(--movies-catalog-bg);
}

#movies-catalog-grid {
    margin: 10px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 8px;
    justify-content: center;
}