<section id="movies-catalog-section">
    <div id="movies-catalog-grid">
        @if (!moviesList) {
            <p>Esto está tardando más de lo usual. Por favor, inténtalo de nuevo más tarde.</p>
        }
        @else if (moviesList && moviesList.length > 0) {
            @for (movie of moviesList; track movie.id) {
                <app-movie-card [movie]="movie"></app-movie-card>
            }
        }
        @else {
            <h3>Tenemos un problema inesperado, por favor inténtalo de nuevo más tarde.</h3>
        }
    </div>

</section>